<div class="modal-body">
  <div class="container create-group">
    <label>Group Name [a-zA-Z0-9_.-]:</label>
    <input id="group_name" type="text"  placeholder="e.g. Group_1" required>
    <button id="submit" onclick="ManageGroups.submitData()" data-dismiss="modal" class="btn btn-success">
      <i class="fas fa-check mr-2"></i>Create
    </button>
  </div>
</div>
  