<div class="small-box bg-primary flag-input elevation-2">
    <div class="inner">
        <h4>Submit a Flag</h4>
        <input class="form-control" id="submit_flag_text" type="text" placeholder="FLAG{xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx}" style="width:100%;">
        <div class="progress mt-3" style="height:6px;">
                  <div id="user_progrss" class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: {{current_user.get_total_completion_percentage()}}%;" aria-valuenow="{{current_user.get_total_completion_percentage()}}" aria-valuemin="0" aria-valuemax="100">
                  </div>
                  <h5 id="user_completion" class="justify-content-center d-flex position-absolute w-100 mt-3 text-light">
                    {{current_user.get_total_completion_percentage() | round(1) }}% of all flags redeemed!
                  </h5>
        </div>
    </div>
    <div class="icon">
        <i class="fas fa-flag"></i>
    </div>
    <a id="submit_flag" href="#" onclick="submitFlag()" class="small-box-footer">
        Submit <i class="fas fa-check"></i>
    </a>
</div>