{% extends "_base.jinja" %}
{% block content %}
  <div class="container-fluid">

      <div class="row">
          <div class="col">
            <h4>Setting everything up</h4>
            {% call macros.create_card(title="1. Installing OVPN") %}
              <p>You need OpenVPN to connect to a network. Install it with your favorite packetmanager, this tutorial uses apt.</p>
              <code>sudo apt install openvpn</code>
            {% endcall %}

            {% call macros.create_card(title="2. Download your OVPN config") %}
            <p>You need to download your  <a href="{{url_for('user_api.get_current_user_cfg')}}">vpn config</a> and 
            <a href="{{url_for('user_api.get_current_user_cfg')}}">credentials</a> and place them in the root of your home directory.</p>
            <code>mv ~/Downloads/{{current_user.username}}.* ~</code>
            {% endcall %}

            {% call macros.create_card(title="3. Connect to a network") %}
            <p>
              To connect to a network you simply have to execute the provided command in a terminal. You can find 
              your assigned networks on your <a href="{{url_for('index.index')}}">dashboard</a>.
              The connection command looks like the following (the following command is just an example):
            </p>
            <code>sudo openvpn --config ~/{{current_user.username}}.ovpn --auth-user-pass ~/{{current_user.username}}.creds --remote 123.123.123 12345 tcp</code>
            {% endcall %}

            <h4>Flags</h4>
            {% call macros.create_card(title="What are flags?") %}
              <p>Flags are codes which can be redeemed to verify the completion of a task.</p>
              <p>A flag looks like the following: FLAG{a2d45b8586f945058496532b8cc3dad9}</p>
              <p>You can either redeem the code in the curly brackets or submit the flag as a whole. Both works!</p>
              <p>Flags are setup so that they can appear literally everywhere. Always watch out for them!</p>
              <p>If you're stuck with a flag, you can request a hint. Hints for a network can be requested every {{config["HINT_TIMEOUT"]}} minutes.
              For example, you can request more than one hint at the same time in two different networks. But only one every {{config["HINT_TIMEOUT"]}}
              minutes inside the same network.
              </p>
              
            {% endcall %}

            
        </div>
      </div>
      <!-- /row -->
  </div>
  <!-- /container-fluid -->
{%endblock content %}

{% block javascripts%}
{{super()}}

{% endblock %}