{% macro create_modal_button(modal_id,class="btn btn-primary")%}
<!-- Modal-Button {{ modal_id }} -->
<button id="modal{{id}}button" type="button" class="{{class}}" data-toggle="modal" data-target="#modal{{modal_id}}">
  {{ caller() }}
</button>
{% endmacro %}

{% macro create_modal(id,title, additional_modal_classes) %}
<!-- Modal {{ id }} - {{ title }} -->
<div class="modal fade" id="modal{{id}}" tabindex="-1" role="dialog" aria-labelledby="modal{{id}}Label" aria-hidden="true">
  <div class="modal-dialog {{ additional_modal_classes }}" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal{{id}}Label">{{title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{ caller() }}
    </div>
  </div>
</div>
{% endmacro %}

{% macro create_card(title, additional_classes="") %}
<!-- card -->
  <div class="card card-secondary card-outline bg-dark elevation-3 p-2 {{additional_classes}}">
    <div class="card-header">
      <h1 class="card-title">{{title}}</h1>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fas fa-minus"></i></button>
        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
          <i class="fas fa-times"></i></button>
      </div>
    </div>
    <div class="card-body">
      {{ caller() }}
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /card -->
{% endmacro %}


{% macro render_bool(bool)%}
  {% if bool %}
    <span class="badge bg-success"><i class="fas fa-check"></i></span>
  {% else %}
    <span class="badge bg-danger"><i class="fas fa-times"></i></span>
  {% endif %}
{% endmacro %}

{% macro render_username(user) %}
  <span class="badge bg-primary mr-2 elevation-1"><i class="fas fa-user mr-2"></i>{{ user.username }}</span>
{% endmacro %}

{% macro render_groupname(group) %}
  <span class="badge bg-info mr-2 elevation-1"><i class="fas fa-users mr-2"></i>{{ group.name }}</span>
{% endmacro %}