{% macro create_modal_button(modal_id,class="btn btn-primary")%}
<!-- Modal-Button {{ modal_id }} -->
<button id="modal{{id}}button" type="button" class="{{class}}" data-toggle="modal" data-target="#modal{{modal_id}}">
  {{ caller() }}
</button>
{% endmacro %}

{% macro create_modal(id,title, additional_modal_classes) %}
<!-- Modal {{ id }} - {{ title }} -->
<div class="modal fade" id="modal{{id}}" tabindex="-1" role="dialog" aria-labelledby="modal{{id}}Label" aria-hidden="true">
  <div class="modal-dialog {{ additional_modal_classes }}" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal{{id}}Label">{{title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{ caller() }}
    </div>
  </div>
</div>
{% endmacro %}

{% macro create_card(title, additional_classes="") %}
<!-- card -->
  <div class="card card-secondary card-outline bg-dark elevation-3 p-2 {{additional_classes}}">
    <div class="card-header">
      <div class="card-title"><h4>{{title}}</h4></div>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fas fa-minus"></i></button>
        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
          <i class="fas fa-times"></i></button>
      </div>
    </div>
    <div class="card-body">
      {{ caller() }}
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /card -->
{% endmacro %}


{% macro render_bool(bool)%}
  {% if bool %}
    <span class="badge bg-success"><i class="fas fa-check"></i></span>
  {% else %}
    <span class="badge bg-danger"><i class="fas fa-times"></i></span>
  {% endif %}
{% endmacro %}

{% macro render_username(user) %}
  <span class="badge bg-primary mr-2 elevation-1"><i class="fas fa-user mr-2"></i>{{ user.username }}</span>
{% endmacro %}

{% macro render_groupname(group) %}
  <span class="badge bg-info mr-2 elevation-1"><i class="fas fa-users mr-2"></i>{{ group.name }}</span>
{% endmacro %}

{% macro render_role(role)%}
{% if role.name == "admin" %}
<span class="badge badge-pill bg-warning" data-toggle="tooltip" data-placement="right" title="Admin">
  <i class="fas fa-user-shield"></i>
</span>
{% endif %}
{% endmacro %}


{% macro render_network_state(state) %}
  {% if state == "running" %}
  <span class="badge badge-pill bg-success" data-toggle="tooltip" data-placement="right" title="Container is running.">
    Running
  </span>
  {% elif state == "restarting" %}
  <span class="badge badge-pill bg-warning" data-toggle="tooltip" data-placement="right" title="Container is restarting.">
    <div class='spinner-border spinner-border-sm mr-2 mb-1'></div>
    Restarting
  </span>
  {% elif state == "starting" %}
  <span class="badge badge-pill bg-warning" data-toggle="tooltip" data-placement="right" title="Container is restarting.">
    <div class='spinner-border spinner-border-sm mr-2 mb-1'></div>
    Starting
  </span>
  {% elif state == "error" %}
  <span class="badge badge-pill bg-danger" data-toggle="tooltip" data-placement="right" title="Container exited.">
    Error
  </span>
  {% elif state == "deleting" %}
  <span class="badge badge-pill bg-danger" data-toggle="tooltip" data-placement="right" title="Container exited.">
    <div class='spinner-border spinner-border-sm mr-2 mb-1'></div>
    Deleting
  </span>
  {% endif %}
{% endmacro %}

{% macro render_container_state(state)%}
{% if state == "running" %}
<span class="badge badge-pill bg-success" data-toggle="tooltip" data-placement="right" title="Container is running.">
  Running
</span>
{% elif state == "restarting" %}
<span class="badge badge-pill bg-warning" data-toggle="tooltip" data-placement="right" title="Container is restarting.">
  Restarting
</span>
{% elif state == "paused" %}
<span class="badge badge-pill bg-primary" data-toggle="tooltip" data-placement="right" title="Container is paused.">
  Paused
</span>
{% elif state == "exited" %}
<span class="badge badge-pill bg-danger" data-toggle="tooltip" data-placement="right" title="Container exited.">
  Exited
</span>
{% elif state == "dead" %}
<span class="badge badge-pill bg-danger" data-toggle="tooltip" data-placement="right" title="Container is dead.">
  Dead
</span>
{% endif %}
{% endmacro %}