  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="#" class="ml-1">{{current_user}}</a>
          {% call macros.create_modal_button("download_cfg", class="btn btn-primary btn-xs d-inline ml-2") %}
            <i class="fas fa-user-cog"></i>
            <i class="fas fa-download"></i>
          {% endcall %}
          
          {% call macros.create_modal_button("regen_auth", class="btn btn-warning btn-xs d-inline ml-2") %}
            <i class="fas fa-key"></i>
            <i class="fas fa-sync-alt"></i>
          {% endcall %}
        </div>
      </div>
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="{{url_for('index.index')}}" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>Dashboard</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{{url_for('index.getting_started')}}" class="nav-link">
              <i class="nav-icon fas fa-hands-helping"></i>
              <p>Getting Started</p>
            </a>
          </li>


          <!-- Admin Locations -->
          {% if current_user.has_role("admin") %}
          <li class="nav-item">
            <a href="{{url_for('users.manage_users')}}" class="nav-link">
              <i class="nav-icon fas fa-users-cog"></i>
              <p>Manage Users</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('networks.manage_networks')}}" class="nav-link">
              <i class="nav-icon fas fa-network-wired"></i>
              <p>Manage Networks</p>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  <!-- /Main sidebar container -->


{% call macros.create_modal("regen_auth", title="Confirmation Required") %}
  <div class="modal-body">
    <p>
      <h4>WARNING:</h4>
      You are about to regenerate your vpn authentication data.
      You'll have to <a href="{{url_for('user_api.get_current_user_cfg')}}">re-download your vpn config</a>
      for newly started networks.
    </p>
  </div>
  <div class="modal-footer">
    <button onclick="regenVpnDataButton()" class="btn btn-danger d-inline ml-2">
      <i id="regen_data_button_icon"  class="fas fa-exclamation-circle mr-1"></i>
      Regenerate VPN Cert and Private Key
    </button>
  </div>
{% endcall %}

{% call macros.create_modal("download_cfg", title="ReadMe.txt") %}
  <div class="modal-body">
    <p>
      Download the config file and place it in the root of your home directory:
      <code>mv ~/Downloads/{{current_user.username}}.ovpn ~</code>
    </p>
  </div>
  <div class="modal-footer">
    <button onclick="location.href=`{{url_for('user_api.get_current_user_cfg')}}`" class="btn btn-primary">
    <i class="fas fa-file-download mr-2"></i>Download Config
    </button>
  </div>
{% endcall %}