{% extends "_base.jinja" %}
{% block content_header %}<h1>Compose Network Preset</h1>{% endblock content_header %}
{% block content %}
  <div class="container create-network-preset">
    <div class="row mb-1">
      <div class="col">
        <label>Preset Name:</label>
        <input id="name" type="text">
        <button id="add" onclick="addEntries()" class="btn btn-primary float-right add-remove-button"><i class="fas fa-arrow-right"></i></button>
      </div>
      <div class="col">
        <button id="remove" onclick="removeEntries()" class="btn btn-primary add-remove-button"><i class="fas fa-arrow-left"></i></button>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col">
        <select class="select_images_field" id="available_images" multiple></select> 
      </div>
      <div class="col">
        <select class="select_images_field" id="selected_images" multiple></select> 
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button id="submit" onclick="submitData()" class="btn btn-success">Create</button>
      </div>
    </div>
  </div>
{%endblock content %}

{% block javascripts%}
{{super()}}
<script src="{{url_for('static', filename='js/createNetworkPreset.js')}}"></script>
{% endblock %}