{% extends "_base.jinja" %}
{% block content_header %}<h1>Dashboard</h1>{% endblock content_header %}
{% block content %}
  <div class="container-fluid">
      <div class="row">
          <div class="col">
            <div class="d-flex justify-content-center">
              {% include "flag_form.jinja" %}
            </div>
          </div>
        </div>
      </div>
      <!-- /row -->

      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Gateway</th>
              <th>Flags</th>
              <th>Command</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for network in current_user.assigned_networks %}
            <tr>
              <td>{{ network.name }}</a></td>
              <td>{{ network.gateway }}</td>
              <td>{{ network.get_redeemed_flags().__len__() }}/{{ network.get_flags().__len__() }}</td>
              <td><code>{{ network.get_connection_command(current_user) }}</code></td>
              <td>
                <button class="btn btn-primary" onclick="window.location=`{{ url_for('networks.network_details',id=network.id) }}`">
                  <i class="fas fa-info-circle mr-1"></i>
                  Details
                </button>
                <button class="btn btn-warning control-button"><i class="fas fa-redo-alt"></i></button>
                </td>
            </tr>
            {% else %}
            <tr>
              <td>There are no running networks</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /row -->
  </div>
  <!-- /container-fluid -->
{%endblock content %}

{% block javascripts%}
{{super()}}
<script src="{{ url_for('static',filename='js/dashboard.js')}}"></script>
{% endblock %}