{% extends "_base.jinja" %}
{% block content_header %}<h1>Dashboard</h1>{% endblock content_header %}
{% block content %}
  <div class="container-fluid">
      <div class="row">
          <div class="col">
            <div class="d-flex justify-content-center">
              {% include "flag_form.jinja" %}
            </div>
          </div>
        </div>
      </div>
      <!-- /row -->

     
       
    {% for network in current_user.get_assigned_networks() %}
      <div class="row">
        <div class = "col">
            {% call macros.create_card(title=network.get_clean_name()) %}
            <div class="row">
              <div class="col-sm-2">
                <strong>Status:</strong>{{macros.render_network_state(network.status)}}
              </div>
              
              <div class="col-lg-6">
                <strong>Command:</strong><code>{{ network.get_connection_command(current_user) }}</code>
              </div>


              <div class="col">
                <strong>Network:</strong> <code>{{ network.subnet }}</code>
              </div>
              <div class="col">
                <button class="btn btn-primary float-right mr-2" onclick="window.location=`{{ url_for('networks.network_details',id=network.id) }}`">
                  <i class="fas fa-info-circle mr-1 "></i>
                  Details
                </button>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <div class="progress mt-1 elevation-2" style="">
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: {{network.get_completion_percent()}}%;" aria-valuenow="{{network.get_completion_percent()}}" aria-valuemin="0" aria-valuemax="100">
                  </div>
                  <h5 class="justify-content-center d-flex position-absolute w-100 mt-1 text-dark">
                    {{ network.get_redeemed_flags().__len__() }} of {{ network.get_flags().__len__() }} flags redeemed!
                  </h5>
                </div>
              </div>
            </div>
            {% endcall %}
        </div>
      </div>
    {% else %}
      <p>You are not assigned to any network!</p>
    {% endfor %}
  </div>
{%endblock content %}

{% block javascripts%}
{{super()}}
<script src="{{ url_for('static',filename='js/dashboard.js')}}"></script>
{% endblock %}