<div class="small-box bg-primary flag-input">
    <div class="inner">
        <h4>Submit a Flag</h4>
        <input class="form-control" id="submit_flag_text" type="text" placeholder="FLAG{xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx}" style="width:100%;">
    </div>
    <div class="icon">
        <i class="fas fa-flag"></i>
    </div>
    <a href="#" onclick="submitFlag()" class="small-box-footer">
        Submit <i class="fas fa-check"></i>
    </a>
</div>