{% extends "_base.jinja" %}
{% block content_header %}<h1>Manage Networks</h1>{% endblock content_header %}
{% block content %}
  <div class="container-fluid">

    <div class="col">

      <div class="row mb-5">
        <h4>Users</h4>
        <table class="table mt-3">
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <td>{{ user.username }}</td>
            </tr>
            {% else %}
            <tr>
              <td>There are no users yet</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /row -->


      <div class="row">
        <h4>Groups</h4>
      </div>
      <!-- /row -->
      <div class="row">
        
        <table class="table mt-3">
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            {% for group in groups %}
            <tr id="{{preset.id}}">
              <td>{{ group.name }}</td>
            </tr>
            {% else %}
            <tr>
              <td>There are no groups yet</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /row -->

    </div>
    <!-- /col -->

  </div>
  <!-- /container-fluid -->
{%endblock content %}

{% block javascripts%}
{{super()}}

{% endblock %}