{% extends "_base.jinja" %}
{% block content_header %}<h1>Manage Networks</h1>{% endblock content_header %}
{% block content %}
  <div class="container-fluid">

    <div class="col">

      <div class="row mb-5">
        <h4>Running Networks</h4>
        <table class="table mt-3">
          <thead>
            <tr>
              <th>Name</th>
              <th>Command</th>
            </tr>
          </thead>
          <tbody>
            {% for network in networks %}
            <tr>
              <td>{{ network.name }}</td>
              <td>{{ network.get_connection_command(current_user) }}</td>
              <td><button class="btn btn-danger control-button"><i class="fas fa-trash-alt"></i></button></td>
            </tr>
            {% else %}
            <tr>
              <td>There are no running networks</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /row -->


      <div class="row">
        <h4>Network Presets</h4>

        {% call macros.create_modal_button("create_preset", class="ml-3 btn btn-xs btn-success float-right") %}
          <i class="fas fa-plus mr-2"></i>
          Create Preset
        {% endcall %}
        {% call macros.create_modal("create_preset", title="Compose a preset!",additional_modal_classes="modal-xl") %}
          <div class="modal-body">
            {% include "create_network_preset_modal.jinja" %}
          </div>
        {% endcall %}
      </div>
      <!-- /row -->
      <div class="row">
        
        <table class="table mt-3">
          <thead>
            <tr>
              <th>Name</th>
              <th>Containers</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for preset in presets %}
            <tr id="{{preset.id}}">
              <td>{{ preset.name }}</td>
              <td>
                {% for container_image in preset.container_images %}
                  <span class="badge badge-secondary mr-1">{{container_image.name}}</span>
                {% else %}
                  None.
                {% endfor %} 
              </td>
              <td>
                <!-- Start network button -->
                <button class="btn btn-success control-button float-left mr-1">
                  <i class="fas fa-play"></i>
                </button>

                <!-- Delete preset button -->

                {% call macros.create_modal_button(preset.id, class="btn btn-danger control-button float-left") %}
                  <i class="fas fa-trash-alt"></i>
                {% endcall %}
                {% call macros.create_modal(preset.id, title="Confirmation required!") %}
                  <div class="modal-body">
                    <p>Do you really want to delete {{preset.name}}?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger float-left" data-dismiss="modal" onclick="deleteNetworkPresetButton('{{preset.id}}')">Yes</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal">Dismiss</button>
                  </div>
                {% endcall %}
              </td>
            </tr>
            {% else %}
            <tr>
              <td>There are no presets yet</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /row -->

    </div>
    <!-- /col -->

  </div>
  <!-- /container-fluid -->
{%endblock content %}

{% block javascripts%}
{{super()}}
<script src="{{ url_for('static',filename='js/networkPresetList.js')}}"></script>
<script src="{{url_for('static', filename='js/createNetworkPreset.js')}}"></script>
{% endblock %}