{% extends "_base.jinja" %}
{% block content %}
  <div class="container-fluid">
      <div class="row">
          <div class="col">
            <div class="d-flex justify-content-center">
              {% include "flag_form.jinja" %}
            </div>
            <div class="progress mt-1 elevation-1">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: {{network.get_completion_percent()}}%;" aria-valuenow="{{network.get_completion_percent()}}" aria-valuemin="0" aria-valuemax="100">
              </div>
              <h5 class="justify-content-center d-flex position-absolute w-100 mt-1 text-dark">
                {{ network.get_redeemed_flags().__len__() }} of {{ network.get_flags().__len__() }} flags redeemed!
              </h5>
            </div>
          </div>
      </div>
      <!-- /row -->



      <div class="row mb-3">
        <div class="col d-flex justify-content-center">
          <code>{{ network.get_connection_command(current_user) }}</code>
          <code>{{ network.gateway }}</code>
        </div>
      </div>

      {% if current_user.has_role("admin")%}
        {% include "network_details_admin_zone.jinja" %}
      {% endif %}

      <div class="row">
          <div class="col">
          <h3>Flags</h3>
          {% for flag in network.get_unredeemed_flags() %}
            {% call macros.create_card(title=flag.get_description(),additional_classes="card-danger") %}
               <table id="flag_{{flag.id}}_hints" class="table table-dark elevation-2 mb-3">
                <thead>
                  <tr>
                    <th>Hints</th>
                  </tr>
                </thead>
                <tbody>
                  {% for hint in flag.get_revealed_hints() %}
                  <tr>
                    <td style="border: none;">{{ hint }}</td>
                  </tr>
                  {% else %}
                  <tr class="none"><td>None.</td></tr>
                  {% endfor %}
                </table>

              <button class="btn btn-primary" onload="buttonTimer({{flag.id}},this)" onclick="getHint({{network.id}},{{flag.id}},this)">Get a Hint!</button>
            {% endcall%}
          {% endfor %}
          {% for flag in network.get_redeemed_flags() %}
            {% call macros.create_card(title=flag.get_description(),additional_classes="card-success") %}
              {% if current_user.has_role("admin") %}
                Redeemed by: {{ flag.redeemed_by.username }}
              {% endif%}
            {% endcall%}
          {% endfor %}         
          </div>
        </div>
      </div>
      <!-- /row -->
  </div>
  <!-- /container-fluid -->
{%endblock content %}

{% block javascripts%}
{{super()}}
<script src="{{url_for('static', filename='js/networkDetails.js')}}"></script>
{% endblock %}