.control-button{
  width:40px;
}

.create-network-preset select[multiple]{
  height: 500px;
  width:100%;
  overflow: none;
}

.create-network-preset .add-remove-button{
  width:50px;
}
.create-network-preset #name{
  width:400px;
}


