.control-button{
  width:40px;
}

input{
  background-color: #202327;

}


select{
  background-color: #202327;
}



.create-network-preset select[multiple]{
  height: 500px;
  width:90%;
  overflow: none;
}

.create-network-preset .add-remove-button{
  width:500px;
}
.create-network-preset input[type=text]{
  width:95%;
}

.create-network-preset-modal{
  width: 100%;
}

.create-group #group_name{
  width:500px;
}

.modal-xl{
  width: 1400px;
}

.messages div{
  padding-top: 15px;
  padding-bottom: 15px;
  height: auto;
}

code {
  color: crimson;
  background-color: #343a40;
}

.copy-span{
  background-color: #1a1f24; 
  padding: 2px;
  margin: 4px;
  padding-bottom: 7px;
  border-radius: 5px;
}



.modal-header {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: white;
  background-color: #343a40; 
}

.modal-content {
  background-color: #343a40; 
}


.modal-footer {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;  
  color: white;
  background-color: #343a40; 
}

.modal-body {
  color: white;
  background-color: #343a40; 
}

.flag-input{
  width:500px;
}

.flag-input input{
  text-align:center;
}