<div class="modal-body">
  <div class="container create-network-preset">
    <div class="row mb-3">
      <div class="col">
        <label>Preset Name:</label>
        <input class="form-control" id="create_preset_name" type="text"  placeholder="e.g. Nmap Training Environment" required>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col">
        <label>Available Images</label>
        <button id="create_preset_add" onclick="addEntries()" class="btn btn-primary add-remove-button"><i class="fas fa-arrow-right"></i></button>
        <select class="select_images_field" id="available_images" multiple></select> 
      </div>
      <div class="col">
        <label>Selected Images</label>
        <button id="create_preset_remove" onclick="removeEntries()" class="btn btn-primary add-remove-button"><i class="fas fa-arrow-left"></i></button>
        <select class="select_images_field" id="selected_images" multiple></select> 
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        
        <button id="create_preset_submit" onclick="submitData()" data-dismiss="modal" class="btn btn-success">
          <i class="fas fa-check mr-2"></i>Create
        </button>
      </div>
    </div>
  </div>
</div>
  