<div class="modal-body">
  <div class="container create-group">
    <label>Group Name:</label>
    <input id="group_name" type="text"  placeholder="e.g. Group 1" required>
    <button id="submit" onclick="submitData()" data-dismiss="modal" class="btn btn-success">
      <i class="fas fa-check mr-2"></i>Create
    </button>
  </div>
</div>
  