<div class="modal-body">
  <div class="container create-network-preset">
    <div class="row mb-3">
      <div class="col">
        <label>Network Name:</label>
        <input class="form-control" id="name" type="text"  placeholder="e.g. Nmap Training Environment" required>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col">
        <label>Assign Users</label>
        <select class="select_images_field" id="available_images" multiple></select> 
      </div>
      <div class="col">
        <label>Assign Groups</label>
        <select class="select_images_field" id="selected_images" multiple></select> 
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        
        <button id="submit" onclick="" data-dismiss="modal" class="btn btn-success">
          <i class="fas fa-check mr-2"></i>Start
        </button>
      </div>
    </div>
  </div>
</div>
  