<div class="modal-body">
  <div class="container create-network-preset">
    <div class="row mb-3">
      <div class="col">
        <label>Network Name [a-zA-Z0-9_.-]:</label>
        <input class="form-control" id="{{preset.id}}_network_name" type="text"  placeholder="e.g. Nmap Training Environment" required>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col">
        <label>Assign Users</label>
        <select class="select_images_field assign_users" id="{{preset.id}}_assign_users" multiple></select> 
      </div>
      <div class="col">
        <label>Assign Groups</label>
        <select class="select_images_field assign_groups" id="{{preset.id}}_assign_groups" multiple></select> 
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <button id="{{preset.id}}_start" onclick="StartNetwork.startNetwork({{preset.id}},this)" class="btn btn-success">
          <i id="{{preset.id}}_icon" class="fas fa-check mr-2"></i>Start
        </button>
      </div>
    </div>
  </div>
</div>
  